parameters:
	docDir: "doc/" # Directory where are directive ducuments

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter

security:
	users:
		Admin: admin # Set admin password and other users in config.local.neon
