parameters:
	# Allowed file extensions for loaded ducuments. Array with extensions without dots.
	# For allowing files without extension set NULL value.
	docExt: ["doc", "docx", "xls", "xlsx", "pdf"]
	docDir: "doc" # Directory where are directive ducuments stored
	fileSize: "10M" # Max uploaded file size in bytes optionaly with sign K (kB), M (MB) or G (GB).

database:
	default:
		dsn: "sqlite:../database/smernice"

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter
	- DirRepository

security:
	users:
		Admin: kernel # Set admin password and other users in config.local.neon
