body {
  color: #4B3123;
  background-color: #F7EFE4;
  margin: 0;
}

form {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 24px;
}

ul {
  margin: 0;
  padding: 0 15px;
}

a {
  color: #006da7;
}

#head {
  color: #F7EFE4;
  background-color: #006da7;
  padding: 6px;
}
#head a {
  color: #F7EFE4;
  text-decoration: none;
}
#head td {
  white-space: nowrap;
}
#head svg {
  width: 18px;
  height: 18px;
}
#head form:first-of-type {
  float: left;
}
#head form:last-of-type {
  float: right;
}

table.direction {
  margin: 20px auto;
  border-collapse: collapse;
}
table.direction tr.odd {
  background-color: #bebfc4;
}
table.direction tr.even {
  background-color: #d9d9d9;
}
table.direction th {
  padding: 4px;
  margin: 2px;
  color: #ffffff;
  background-color: #006da7;
  border: 1px #21201d solid;
}
table.direction td {
  padding: 4px;
  margin: 2px;
  text-align: center;
  vertical-align: top;
  border: 1px #21201d solid;
}
table.direction td.tools {
  text-align: right;
}
table.direction td.name {
  text-align: left;
}
table.direction td.annex a {
  margin-left: 16px;
}

.clr {
  clear: both;
}

a[href^="error:"] {
  background: red;
  color: white;
}

.flash {
  width: 850px;
  border: 1px solid #ddd;
  padding: 8px;
  margin: 16px auto;
  text-align: center;
}

.flash.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}

.flash.error {
  background: #FFB6C1;
  color: #8a1f11;
  border-color: #8a1f11;
}
